# Each route describes how an incoming URL will be processed by Platform.sh.

# Each route describes how an incoming URL will be processed by Upsun.

"https://{default}/":
    type: upstream
    upstream: "app:http"

"https://www.{default}/":
    type: redirect
    to: "https://{default}/"


